* {
    box-sizing: border-box;
}

.sign-in-gg {
    width: 210px;
}

// input,
// #decentralization {
//     background-color: #eee;
//     border: none;
//     padding: 12px 15px;
// }

.container-login {
    // background-color: #fff;
    // border-radius: 10px;
    // box-shadow:
    //     0 14px 28px rgba(0, 0, 0, 0.25),
    //     0 10px 10px rgba(0, 0, 0, 0.22);
    // position: relative;
    // overflow: hidden;
    // width: 800px;
    // max-width: 100%;
    // min-height: 480px;
    margin: 100px auto 40px;
}


// .form-container {
//     position: absolute;
//     top: 0;
//     height: 100%;
//     transition: all 0.6s ease-in-out;
// }

// .sign-in-container {
//     left: 0;
//     width: 50%;
//     z-index: 2;
// }

// .container-login.right-panel-active .sign-in-container {
//     transform: translateX(100%);
// }

// .sign-up-container {
//     left: 0;
//     width: 50%;
//     opacity: 0;
//     z-index: 1;
// }

// .container-login.right-panel-active .sign-up-container {
//     transform: translateX(100%);
//     opacity: 1;
//     z-index: 5;
//     animation: show 0.6s;
// }

// @keyframes show {
//     0%,
//     49.99% {
//         opacity: 0;
//         z-index: 1;
//     }

//     50%,
//     100% {
//         opacity: 1;
//         z-index: 5;
//     }
// }

// .overlay-container {
//     position: absolute;
//     top: 0;
//     left: 50%;
//     width: 50%;
//     height: 100%;
//     overflow: hidden;
//     transition: transform 0.6s ease-in-out;
//     z-index: 100;
// }

// .container-login.right-panel-active .overlay-container {
//     transform: translateX(-100%);
// }

// .overlay {
//     color: #ffffff;
//     position: relative;
//     left: -100%;
//     height: 100%;
//     width: 200%;
//     transform: translateX(0);
//     transition: transform 0.6s ease-in-out;
// }

// .container-login.right-panel-active .overlay {
//     transform: translateX(50%);
// }

// .overlay-panel {
//     position: absolute;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
//     padding: 0 40px;
//     text-align: center;
//     top: 0;
//     height: 100%;
//     width: 50%;
//     transform: translateX(0);
//     transition: transform 0.6s ease-in-out;
// }

// .overlay-left {
//     transform: translateX(-20%);
// }

// .container-login.right-panel-active .overlay-left {
//     transform: translateX(0);
// }

// .overlay-right {
//     right: 0;
//     transform: translateX(0);
// }

// .container-login.right-panel-active .overlay-right {
//     transform: translateX(20%);
// }


u {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 14px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
